<div>
  Monthly discretionary income: ${{input type="text" value=user.monthlyDisposableIncome}}
</div>
{{#each goals as |goal| }}
  <div>
    <p>
      {{goal.name}}
    </p>
    <p>
      In {{input type="text" value=goal.months}} months,
      I would like to have ${{input type="text" value=goal.amount}}.
    </p>
    <p>
      Cost Per Month: ${{goal.monthlyCost}}
    </p>
  </div>
{{/each}}

<div>
  {{#if overSpent}}
    <div>
      <p>Warning: You don't not have enough discretionary income</p>
    </div>
  {{/if}}
  
  <p>Total monthly cost to fund your goals: ${{totalMonthlyCost}}</p>
</div>
